# Trigger the pipeline when changes are pushed to the main branch
trigger:
- main

# Define repository reference
resources:
- repo: self

# Define variables
variables:
  # Docker settings
  dockerRegistryServiceConnection: '068178be-5a48-482c-9f20-5a47ef460078'
  imageRepository: 'pkishorejavaproject'
  containerRegistry: 'javaprojectacr.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/java/kubernetes/productcatalogue/Dockerfile'
  tag: '$(Build.BuildId)'

  # Agent VM
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and Push Stage
  jobs:
  - job: Build
    displayName: Build Job
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@4
      displayName: Build with Maven
      inputs:
        mavenPomFile: 'java/stockmanager/pom.xml'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
        findBugsRunAnalysis: true

    - task: Docker@2
      displayName: Build and Push Docker Image
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
